
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 14px 28px;

  border-radius: 999px;

  font-size: 16px;
  font-weight: 600;

  transition: 0.3s ease;

  cursor: pointer;
}

.btn-primary {
  background: #d3132a;
  color: white;
}

.btn-primary:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}


.btn-secondary {
  border: 1px solid #d3132a;
  color: #d3132a;
  background: transparent;
}

.btn-secondary:hover {
  background: #d3132a;
  color: white;
}