.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;
  height: 90px;

  background: #BF121F;
}

.logo img {
  height: 70px;
  width: auto;
  display: block;
}

.nav {
  display: flex;
  gap: 40px;

  flex: 1;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  color: #1f1f1f;

  font-size: 16px;
  font-weight: 500;

  transition: 0.3s;
}

.nav a:hover {
  color: #ece7d6;
}

.hamburger {
  display: none;

  background: transparent;
  border: none;

  font-size: 2rem;
  color: white;

  cursor: pointer;

  width: 40px;
  height: 40px;

  align-items: center;
  justify-content: center;
}

/* celular */

@media (max-width: 768px) {

  .header {
    height: 70px;
    padding: 0 16px;
  }

  .logo img {
    height: 42px;
  }

  .hamburger {
    display: flex;
    position: relative;
    z-index: 1100;
  }

  .nav {
    position: fixed;

    top: 70px;
    left: 0;

    width: 100%;
    height: calc(100vh - 70px);

    background: white;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 2rem;

    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;

    z-index: 1000;
  }

  .nav.active {
    transform: translateX(0);
  }

  .nav a {
    font-size: 1.5rem;
    font-weight: 600;
    color: #222;
  }
}